# Driftloom Environment Variables
REVENUECAT_IOS_KEY=appl_YOUR_KEY_HERE
REVENUECAT_ANDROID_KEY=goog_YOUR_KEY_HERE
EAS_PROJECT_ID=YOUR_PROJECT_ID
APPLE_ID=jamiebzzz@gmail.com
APPLE_TEAM_ID=YOUR_TEAM_ID
ASC_APP_ID=YOUR_APP_STORE_CONNECT_APP_ID
